/*-----------------------------------------------------------------------------------*/
/* Normalize CSS
/*-----------------------------------------------------------------------------------*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover,
a:active {
    outline: 0;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    margin: 0 auto;
    display: block;
}
.gmap img {
    max-width: none;
}
button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
button,
input {
    line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
input:focus {
    outline: 0;
}


/*-----------------------------------------------------------------------------------*/
/*  Core styles
/*-----------------------------------------------------------------------------------*/

/*  Grid
/*-----------------------------------------------------------------------------------*/

.container {
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-left: -50px;
}
.row:after {
    clear: both;
    content: '';
    display: table;
    line-height: 0;
}
[class*="span"] {
    float: left;
    margin-left: 50px;
}
.container, .span12 {
    width: 910px;
}
.span11 {
    width: 830px;
}
.span10 {
    width: 750px;
}
.span9 {
    width: 670px;
}
.span8 {
    width: 590px;
}
.span7 {
    width: 510px;
}
.span6 {
    width: 430px;
}
.span5 {
    width: 350px;
}
.span4 {
    width: 270px;
}
.span3 {
    width: 190px;
}
.span2 {
    width: 110px;
}
.span1 {
    width: 30px;
}

/*  Inputs
/*-----------------------------------------------------------------------------------*/

input {
    font-family: 'Oswald', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
}
input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #ccc;
    color: #999;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    padding: 0 14px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

input[class*="span"],
textarea[class*="span"] {
    float: none;
    margin-left: 0;
}

.control-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.btn {
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f0f0f0));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: -o-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: linear-gradient(to bottom, #f9f9f9, #f0f0f0);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff0f0f0', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);

    border: 1px solid #ccc;
    color: #999;
    font-size: 20px;
    height: 40px;
    padding: 0 14px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.07);
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:hover {
    background-position: 0 15px;
}
.btn:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}



/*-----------------------------------------------------------------------------------*/
/*  Global styles
/*-----------------------------------------------------------------------------------*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
}

/*  Sticky footer
/*-----------------------------------------------------------------------------------*/
/*
html, body {
    height: 100%;
}
#wrap1 {
    min-height: 100%;
}
#wrap2 {
    overflow: auto;
    padding-bottom: 161px;
}
footer {
    position: relative;
    margin-top: -161px;
    height: 161px;
    clear: both;
}
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;/
}
*/
/*  Base
/*-----------------------------------------------------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;
}
body {
    color: #555;
    font-family: 'Oswald', 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.618;
}

a {
    color: #008ece;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
a:hover {
    color: #014f72;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
    text-rendering: optimizelegibility;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    text-align: center;
}
h3 {
    font-size: 30px;
    text-align: center;
}
h4 {
    font-size: 20px;
}

#logo {
    margin-top: 15px;
    line-height: 0;
    overflow: hidden;
}
#logo:empty {
    margin-top: 0;
}

#intro {
    margin: 25px 0 30px;
    text-align: center;
}

.archive {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    color: #999;
    text-align: center;
}

.archive ul {
    list-style: none;
    display: inline;
    padding: 0;
}
.archive ul li {
    display: inline;
    font-size: 3em;
    margin: 10px;
}
/*  Newsletter form
/*-----------------------------------------------------------------------------------*/

#subscription {
    text-align: center;
    margin: 15px 0;
}
#subscription h3 {
    margin-bottom: 20px;
}
#subscribe-submit {
    margin-left: 3px;
}


#social {
    margin: 55px 0 0;
    text-align: center;
}
#social a {
    padding: 0 5%;
    font-size: 25px;
    color: #999;
    display: inline-block;
}
#social a:hover {
    color: #555
}

hr.divider {
    background: url('../img/divider.png') center top no-repeat;
    border: 0;
    height: 70px
}

hr.top {
    background: url('../img/top.png') center top no-repeat;
    border: 0;
    height: 25px;
    margin-top: 50px;
}
/*-----------------------------------------------------------------------------------*/
/*  Responsive styles
/*-----------------------------------------------------------------------------------*/

@media (max-width: 767px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container {
        width: auto;
    }
    .row {
        margin-left: 0;
    }
    [class*="span"] {
        float: none;
        display: block;
        width: auto;
        margin-left: 0;
    }
    input[class*="span"],
    select[class*="span"],
    textarea[class*="span"] {
        display: block;
        width: 100%;
        min-height: 28px;
    }
    #wrap2 {
        margin: 0 -20px;
        padding: 0 20px 146px;
    }
    footer {
        /*margin-top: -146px;*/
        height: 146px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 10px;
    }

.archive {
        font-size: 18px;
        font-weight: 300;
        color: #999;
    }
    hr {
        height: 50px;
        margin: 0 -20px;
    }

    #logo {
        margin: 25px 0;
    }
    #intro {
        margin: 20px 0 50px;
        text-align: left;
    }
    #countdown {
        margin-bottom: 50px;
    }
    .counter-block {
        float: left;
        width: 25%;
    }
    #days-desc, #hours-desc, #min-desc, #sec-desc {
        font-size: 16px;
    }
    #days-num, #hours-num, #min-num, #sec-num {
        font-size: 36px;
    }
    #progress {
        margin-bottom: 50px;
    }
    #subscription {
        text-align: left;
    }
    #subscribe-submit {
        display: block;
        margin-top: 5px;
        margin-left: 0;
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .row {
        margin-left: -20px;
    }
    [class*="span"] {
        float: left;
        margin-left: 20px;
    }
    .container {
        width: 724px;
    }
    .span12 {
        width: 724px;
    }
    .span11 {
        width: 662px;
    }
    .span10 {
        width: 600px;
    }
    .span9 {
        width: 538px;
    }
    .span8 {
        width: 476px;
    }
    .span7 {
        width: 414px;
    }
    .span6 {
        width: 352px;
    }
    .span5 {
        width: 290px;
    }
    .span4 {
        width: 228px;
    }
    .span3 {
        width: 166px;
    }
    .span2 {
        width: 104px;
    }
    .span1 {
        width: 42px;
    }
}
